In [1]:
%autosave 0

Autosave disabled

In [2]:
import numpy as np
import pandas as pd
from sqlalchemy import text, create_engine
from pydataset import data

from env import get_connection

Let's read in the users and roles tables from the join_example_db.

In [3]:
engine = create_engine(get_connection('join_example_db'))

In [4]:
users_query = '''
              SELECT *
              FROM users
              '''

roles_query = '''
              SELECT *
              FROM roles
              '''

In [5]:
users = pd.read_sql(text(users_query), engine.connect())
roles = pd.read_sql(text(roles_query), engine.connect())

Let's try joining our two dataframes together with pd.concat()!

Ok, now how about calling the .merge() method off one of our tables!

Let's read in the mpg dataset and create a new binary column for automatic/manual transmission.

In [6]:
mpg = data('mpg')
mpg['auto_or_man'] = np.where(mpg['trans'].str.startswith('a'), 'auto', 'manual')
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,auto_or_man
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,auto
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,manual
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,manual
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,auto
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,auto

Let's do a crosstab of two categorical variables, the drive type and the transmission type.

We can set normalize equal to True, to return the proportion of all cars each combination represents.

A pivot table will look similar to a crosstab.

We specify which two categorical variables will be along the axes.

The index argument specifies the index and the columns argument specifies the column.

We will pass in a third argument, values, to return the mean of that column.

If we don't want the mean, we can specify a fourth argument (aggfunc) for a different aggregate function.

The map method will use a dictionary to map existing values to desired ones.

In [7]:
drv_dict = {'4': 'four-wheel drive',
            'f': 'front-wheel drive',
            'r': 'rear-wheel drive'}

We can transpose dataframes by saying .T.