In [1]:
%autosave 0

Autosave disabled

In [2]:
import numpy as np
import pandas as pd
from pydataset import data

import matplotlib.pyplot as plt

Let's have some fun plotting the sleepstudy data from pydataset.

In [3]:
ss = data('sleepstudy')
ss.head()

   Reaction  Days  Subject
1  249.5600     0      308
2  258.7047     1      308
3  250.8006     2      308
4  321.4398     3      308
5  356.8519     4      308

The column names are capitalized. This isn't very pythonic! I need to change this.

In [4]:
ss.columns = [col.lower() for col in ss.columns]
ss.head()

   reaction  days  subject
1  249.5600     0      308
2  258.7047     1      308
3  250.8006     2      308
4  321.4398     3      308
5  356.8519     4      308

If we call plt.plot(), it will default to a line chart.

Let's look at a line chart for one subject!

When we pass just one argument, matplotlib will assume we are passing the y-values.

We can also explicitly pass the x-values.

In [5]:
ss_one = ss[ss.subject == 308]

Matplotlib does its best to choose appropriate limits for the axes.

We can set specific limits with plt.xlim() and plt.ylim().

We can plot multiple lines on the same plot.

We do this by calling the plot function multiple times in the same code cell.

With overlapping lines, it can be useful to distinguish them by changing features like the color.

We change color with the c argument. We can also adjust linewidth and opacity.

Let's also differentiate our lines by adding labels.

We can show the labels by calling plt.legend().

The legend function accepts the loc argument, to specify where the legend should be!

We can make scatter plots, using plt.scatter()!

Many previous arguments will work with these plots, as well as the s argument for size of dots.

We should have a more professional-looking plot.

Let's add a title and label our axes!

We will expect these components for any FINAL figure!

We can customize..
- Tick marks on axes with plt.xticks() and plt.yticks()
- Line types with the ls argument
- The rotation of axis values

We can add text to a plot with plt.text().

It will require many arguments..
- The x and y coordinates for the beginning of the text
- The text itself
- The fontsize and color of the text

You can change the figure size!

Call plt.figure, and pass a tuple for the figsize argument.

Kind of silly now, but about to be useful..

Let's allow for a larger figure, and populate it with subplots!

The function plt.subplot() will accept the number of rows and columns for the subplot, and which plot it is.

We can title the individual plots.

We can create histograms with plt.hist()!