In [1]:
%autosave 0

Autosave disabled

In [2]:
#import standard for pandas
import pandas as pd
import numpy as np
from pydataset import data

initiated datasets repo at: /Users/jongarcia/.pydataset/

Creating series from a variety of sources.

- From a list.
- From an array.
- From a dataframe.

In [3]:
my_list = [1,2,3,4,5]
pd.Series(my_list)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
my_array = np.array(my_list)
pd.Series(my_array)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
mpg= data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [8]:
mpg.manufacturer

1            audi
2            audi
3            audi
4            audi
5            audi
          ...
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
234    volkswagen
Name: manufacturer, Length: 234, dtype: object

In [9]:
mpg['manufacturer']

1            audi
2            audi
3            audi
4            audi
5            audi
          ...
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
234    volkswagen
Name: manufacturer, Length: 234, dtype: object

In [13]:
mpg_man = mpg['manufacturer']
mpg_man

1            audi
2            audi
3            audi
4            audi
5            audi
          ...
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
234    volkswagen
Name: manufacturer, Length: 234, dtype: object

Common datatypes are supported within pandas!

We can use the .astype() method to cast the values in the series as a different datatype.

In [ ]:
pd.Series(my_list)

We can perform vectorized operations with pandas, just like numpy!

We can return information about our series using attributes.

Common attributes include:
- .index
- .values
- .dtype
- .name
- .size
- .shape

There are a number of useful series methods as well.

- .head() and .tail() return the first/last 5 rows by default
- .sample() takes a random sample from the series
- .value_counts() is like group by, counting the occurrence of each unique value

We can use methods to return descriptive statistics, much like numpy!

- Common methods such as .mean(), .mode(), etc..
- Can use .describe() to compute many statistics at once!
- .nlargest() and .nsmallest() return the n number of largest/smallest values
- .sort_values() will sort our values in ascending or descending order (sound familiar?)