In [1]:
%autosave 60

Autosaving every 60 seconds

In [2]:
import pandas as pd
import numpy as np
from pydataset import data

Read in the mpg dataset.

We can summarize it with some familiar friends..
- .info()
- .describe()
- .dtypes
- .shape
- .columns
- .index

In [3]:
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [4]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [5]:
mpg.shape

(234, 11)

We can access a subset of all columns in the dataframe using..
- Square brackets
- Dot notation

In [6]:
mpg.manufacturer

1            audi
2            audi
3            audi
4            audi
5            audi
          ...
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
234    volkswagen
Name: manufacturer, Length: 234, dtype: object

Boolean masking makes a triumphant return!

In [7]:
mpg.cty > 20

1      False
2       True
3      False
4       True
5      False
       ...
230    False
231     True
232    False
233    False
234    False
Name: cty, Length: 234, dtype: bool

We can drop and rename columns from our dataframe.
- Drop columns using .drop(columns=[''])
- Rename columns using .rename(columns={'': ''}
- Are these operations done in place?

We can create new columns using..
- Square brackets (creates one column at a time)
- .assign() (creates one or more columns at a time)

In [1]:
mpg['total_mpg'] = mpg['cty'] = mpg['hwy']

NameError: name 'mpg' is not defined

We can sort the values in our dataframe using .sort_values().
- It accepts two common arguments, by='column_name' and ascending=True/False

We can live dangerously by chaining methods together!

The data function from pydataset can accept an argument show_doc=True. This shows documentation about the dataset. Let's check out the documentation for the mpg dataset!